#imagenPrincipal{
    padding-left: 0;
    padding-right: 0;
    height: 1920px;
    width: 100%;
    background: url("imagenes/sovietbuilding.jpg");
}
#titulo{
    text-align: center;
    color: rgb(252, 39, 39);
    font-size: 48px;
}

#navegacion{
    background-color:rgb(156, 156, 255);
    height: 30px;
}

#tituloNavegacion{
    font: bold;
    padding-right: 45%;
    font-size: larger;
}

.menu-superior{
    padding-left: 2%;
    font-size: larger;
}

#descripcion{
    text-align: center;
}